
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --black: #333333;
    --white: #FFFBEA;
    --green: #349582;
    --blue: #7BAEDC;
    --orange: #F28C66;
}

body {
    background-color: rgb(198, 225, 196);
    background-image: url("public/images/default/Patinhas.png");
    background-size: 50%;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    max-width: 1500px;
    margin: auto;
    padding: 12px;
}

.corpo {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}


/* ----------------------------  NAVBAR  ----------------------------------------------------------*/
.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbarLogo img {
    width: 50px;
    height: 50px;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navLinks a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    font-weight: 550;
    transition: 0.3s;
}

.navLinks a:hover,
.navLinks a:active {
    border-bottom: solid #C6E1C4;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.3s;
}

.mobileMenu {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    z-index: 1300;
}

.mobileMenu a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.mobileMenu a:hover {
    background-color: #C6E1C4;
}

.mobileMenu.show {
    display: flex;
}

#btnLoginRegister {
    display: flex;
}

#logos {
    gap: 1rem;
}

.navbarLogo {
    display: none;
}


/* ----------------------------  SIDEBAR  ----------------------------------------------------------*/
.sidebar {
    height: 100vh;
    min-height: 50px;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: rgb(68, 128, 63);
    overflow: hidden;
    transition: width 0.2s;
}

.sidebar:hover {
    width: 230px;
    overflow: visible;
}

.logo {
    margin-bottom: 1rem;
}

.logo img {
    width: 60px;
    padding: 0 4px;
}

#navSidebar {
    height: 60vh;
    min-height: 300px;
}

.sidebarLi a, .logo a, #logout a {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

.sidebarLi a:hover, #logout a:hover {
    background-image: linear-gradient(to right, #C6E1C4 7px, rgba(255, 255, 255, 0.1) 7px);
    color: white;
}

#logout {
    margin-top: 4.5rem;
}

#navSidebar img {
    width: 35px;
    text-align: right;
}

.sidebarLi p, #logout p {
    width: 123px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.3px;
}



/* ----------------------------  FOOTER  ----------------------------------------------------------*/
footer {
    width: 100%;
    position: relative; 
    z-index: 1200;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-desktop {
    width: 100%;
    background-color: rgb(68, 128, 63);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    position: relative; 
    z-index: 1200;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-desktop .container {
    max-width: 1200px;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 40px;  
    box-sizing: border-box;
}

.footer-desktop .esquerda {
    font-size: 14px;
    border-bottom: 1px solid white; 
    white-space: nowrap; 
    ;
}

.esquerda a {
    text-decoration: none;
    color: white
}

.footer-desktop .footer-logo img {
    width: 180px;   
    height: auto;
}

.footer-desktop .direita {
    display: flex;
    gap: 15px;      
}
.footer-desktop .direita img {
    width: 40px;    
    height: auto;
}

.mobile-footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(68, 128, 63);
    color: white;
    width: 100%;
    position: relative;
    z-index: 1200;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.mobile-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
}

.mobile-footer .footer-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 5px;
}

.mobile-footer .footer-links-img {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
    padding: 0;
}

.mobile-footer .footer-links-img a {
    text-decoration: none;
}

.mobile-footer .footer-links-img a img {
    width: 30px;
    height: auto;
}

.mobile-footer .voucherDesenv .a-dev {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid white;
    display: inline-block;
    color: white;
}



/* ----------------------------  FORMULARIO  ----------------------------------------------------------*/
#frmCadastrarEditar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    column-gap: 4rem;
    flex-direction: column;
}

.frmContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.frmField {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.frmField label {
    font-size: 1rem;
}



/* ----------------------------  INPUTS E AFINS  ----------------------------------------------------------*/
.form-input {
    width: 100%;
    height: 61px;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 15px;
    color: #888;
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin: 0 auto 10px auto;
    transition: all 300ms; 
    position: relative;
}

.form-input:focus {
    outline: none;
}

.form-label {
    color: #888;
    display: block;
    position: absolute;
    font-size: 15px;
    /* Moves the label on TOP of the placeholder */
    /* You'll need to change this as needed */
    transform: translate(1.3rem, 1.4rem);
    transform-origin: 0 0; 
    transition: all 300ms;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    pointer-events: none; 
}

.form-input::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translate(1rem, -1.3rem) scale(1);

}

.form-input:not(:placeholder-shown) {
  border-top-color: rgba(0, 0, 0, 0.5);
}

select {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

select {
    color: #888;
    cursor: pointer;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding-right: 40px;
    position: relative;
}

.selectContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.selectContainer::after {
    content: url("../images/cadastroAdocao-ADM/setaBaixoDD.png");
    color: #888;
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* button */

button {
    border-radius: 12px;
    background-color: #44803F;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    height: 3rem;
    width: 25rem;
    margin: 0.5rem;
    margin-top: 3rem;
    font-size: 1.2rem;
}

#btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

/* ----------------------------  CHECKBOX  ----------------------------------------------------------*/

.label__checkbox{
    display: none;
}

.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;

i.icon{
    opacity: 0.2;
    font-size: 'calc(1rem + 1vw)';
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);

    &:hover{
        border: 5px solid rgba(0, 0, 0, 0.2);
    
    }
}
}

.label__checkbox:checked + .label__text .label__check{
    animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220)forwards;

    .icon{
        opacity: 1;
        transform: scale(0);
        color: white;
    }
}





@media (max-width: 1440px) {
    .corpo {
        width: 85%;
    }
}

@media (min-width: 769px) {
    .footer-desktop { display: block; }
    .mobile-footer { display: none; }
}

@media (max-width: 768px) {
    .corpo {
        width: 88%;
        padding: 15px;
    }
    
    body {
        background-size: 70%;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar {
        justify-content: right;
    }

    .navbarLogo {
        display: block;
        position: relative;
        right: 40rem;
    }
    

    #btnCadastro {
        display:none;
    }

    .sidebar {
        display: none;
    }

    .footer-desktop { 
        display: none; 
    }
}

@media (max-width: 425px) {
    .corpo {
        width: 100%;
        padding: 10px;
    }

    body {
        background-size: 100%; 
    }

    .navbarLogo {
        right: 19rem;
    }

    .sidebar {
        display: none;
    }
}

.navbar-especial {
    background-color: #C6E1C4 !important;
}