*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: none;
}

.pai{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    justify-items: center;
}

.main{
    width: fit-content;
    height: 340px;
    width: 320px;
    border-radius: 22px;
    font-family: "Inter", sans-serif;
    background-color: #1B951F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    & .subMain{
        position: absolute;
        bottom: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    & .foto{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        top: 16px;
        left: 80px;
    }& .title{
        color: var(--white);
        font-size: 3vh;
    }& .subTitle{
        color: var(--white);
    }& .links{
        border-radius: 30px;
        background-color: #1A6215;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 260px;
    }

}
@media (max-width: 1024px) {
    .pai {
        display: grid;  /* Mantenha apenas "grid" */
        grid-template-columns: repeat(2, 380px);
        gap: 20px;
        justify-items: center;  /* Centraliza os itens no grid */
    }
}

@media (max-width: 768px) {
    .pai {
        grid-template-columns: repeat(2, 330px);
    }
    .main {
        height: 320px;
        width: 300px;
    }
    .main .foto {  /* Use o seletor correto */
        width: 120px;
        height: 120px;
        margin-left: 8px;
    }
}
@media (max-width: 425px){
    .pai {
        grid-template-columns: repeat(1, 330px);
    }
}
