#form-cadastro-adocao {
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    column-gap: 4rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

input,
textarea,
select {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

select {
    color: #888;
    cursor: pointer;
    appearance: none;
    background-color: white;
    padding-right: 40px;
    position: relative;
}

.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-container::after {
    content: url("../images/cadastroAdocao-ADM/setaBaixoDD.png");
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
}

.gender-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.gender-selection input {
    display: none;
}

.gender-selection label {
    background-color: white;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

.label-genero {
    font-size: 25px;
    font-weight: bold;
    color: #44803F;
    background: none;
    border: none;
    cursor: default;
}

.gender-selection input:checked + label {
    background-color: #4CAF50;
    color: white;
}

.upload-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.upload-box {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.upload-box img {
    width: 70px;
    height: 70px;
}

.upload-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #333;
}

.file-info {
    font-size: 15px;
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
}

#preview-arquivos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

#preview-arquivos.two-column {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 606px;
    overflow: hidden;
}

.file-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.remove-file {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    width: 17%;
}

.remove-file:hover {
    background-color: #d32f2f;
}

.btn-container {
    margin-top: 10px;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
    .form-container {
        column-gap: 2rem;
    }

    .form-column {
        width: 50%;
    }

    .gender-selection {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
    }

    .form-column,
    .upload-container,
    .upload-box {
        width: 100%;
        max-width: 100%;
    }

    
}

@media (max-width: 425px) {
    .form-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .form-column {
        width: 80%;
        max-width: 80%;
    }

    .upload-container,
    .upload-box {
        width: 100%;
    }

    .select-container {
        width: 100%;
    }

    

    .remove-file {
        width: 27%;
    }

    #preview-arquivos.two-column {
        grid-template-columns: 1fr;
    }

    .file-info {
        font-size: 14px;
    }
}
