h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.conteiner {
    max-width: 1500px;
    margin: auto;
    padding: 12px;
}

.pesquisar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pesquisar .lupa {
    position: absolute;
    left: 12px;
    width: 1.2em;
    color: #888;
    cursor: pointer;
}

.pesquisar input {
    width: 690px;
    height: 35px;
    padding: 5px 15px 5px 35px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
}

.membro {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.membro img {
    width: 50px;
    margin-bottom: 10px;
}

item {
    display: none;
}

.item[data-pagina="1"] {
    display: block;
}

.membro h3 {
    font-size: 16px;
    color: #333;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.status div {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    margin-right: 5px;
}

.status span {
    font-size: 12px;
    color: #666;
}

.membro button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.membro button:hover {
    background: #388e3c;
}

.btnAddConteiner {
    position: absolute;
    top: -60px;
    right: 20px;
}

.btnAdd {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    /*  */
}

.btnAdd:hover {
    background: #388e3c;
}

.ctaSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.btnPagination {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnPagination:hover {
    background-color: #45a049;
    color: white;
}

.altPag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.altPag li {
    list-style: none;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.altPag li.active, .altPag li:hover {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
}

/* Responsividade para telas até 768px */
@media screen and (max-width: 768px){
    .corpo{
        width: 95%;
        padding: 30px 0px 60px 0px;
    }
    .pesquisar input{
        width: 300%;
        max-width: 300px;
    }
    .pesquisar .lupa{
        left: 12px;
    }
    .lista{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .btnAddConteiner{
        left: 90%;
    }
    .ctaSlide{
        display: none;
    }
}

/* Responsividade para telas até 425px */
@media screen and (max-width: 425px) {
    .conteiner{
        padding: 25px 0px 50px 0px;
        margin: auto;
    }
    .pesquisar input{
        width: 90%;
        max-width: 280px;
    }
    .lista{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .membro {
        width: 90%;
        margin: auto;
    }
    h1{
        font-size: 32px;
    }
    .ctaSlide{
        display: none;
    }
    .btnAdd{
        right: 42px;
        top: 200px;
        position: fixed;
    }
}
