* {
    padding: 0;
    margin: 0;
    border: 0;
}

.secaoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(129vh - 431px);
}

.login {
    background-color: white;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: aqua; */
    
}

.login h2 {
    margin-bottom: 25px;
}

.login input {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}


@media (max-width: 1024px) {
    .login {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .login {
        width: 80%;
        padding: 40px 20px 40px 20px;
    }
}

@media (max-width: 425px) {
    .login {
        width: 80%;
        padding: 40px 20px 40px 20px;
    }
    .secaoLogin {
        width: 100%;
        /* background-color: aqua; */
    }
}