* {
    padding: 0;
    margin: 0;
    border: 0;
}

.login {
    background-color: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    /* background-color: blue; */
}

.login h2 {
    margin-bottom: 40px;
}

.login input[type="email"],
.login input[type="password"],
.login input[type="text"] {
  width: 100%;
  padding: 10px 45px 12px 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f8fafc;
  font-size: 16px;
  color: #0f172a;
  position: relative;
  /* background-color: red; */
}

.containerSenha {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 43px;
    margin-bottom: 20px;
    /* background-color: cadetblue; */
}

.containerSenha:focus-within {
    outline: 1px solid #ccc;
}

#inputSenha {
    border: none;
    height: 41px;
    /* background-color: blue; */
}

#inputSenha:focus {
    outline: none;    
}

.btnIconOlho img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    /* background-color: blueviolet; */
}

.btnIconOlho {
    all: unset;
}


@media (max-width: 1024px) {
    .login {
        height: 28em;
        width: 70%;
        padding: 50px 20px 50px 20px;
    }
}

@media (max-width: 768px) {
    .login {
        width: 80%;
        padding: 40px 20px 40px 20px;
    }
}

@media (max-width: 425px) {
    .login {
        width: 80%;
        padding: 40px 20px 40px 20px;
        
    }
}