* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(129vh - 431px);
}

.login {
    background-color: white;
    padding: 65px 55px 65px 55px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    height: 50%;
}

.login h2 {
    margin-bottom: 25px;
}

.login input {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.login button {
    font-family:  Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    background-color: rgb( 68, 128, 63);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login a {
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.login button:hover {
    transition: .4s;
    background-color: rgb(56, 105, 52);
}


.login p {
    margin-top: 20px;
    color: #666;
}

.login p a {
    color: #0066cc;
    text-decoration: none;
}
.login p a:hover {
    text-decoration: underline;

}




@media (max-width: 768px) {
    .secao-login {
      padding: 20px;
    }
    .login {
      padding: 50px 30px;
      margin: 0 auto;
    }
    .login input,
    .login button {
      width: 100%;
    }
  }
  
 
  @media (max-width: 425px) {
    .secao-login {
      padding: 15px;
    }

    body{
        background-size: auto;

    }
    .login {
      padding: 30px 20px;
      width: 95%;
      margin: 0 auto;
    }
    .login h2 {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
    .login input {
      padding: 10px;
    }
    .login button {
      padding: 10px;
    }
    .login p {
      font-size: 0.9rem;
    }
  }
  