@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.eventos{
    text-align: center;
    background-color: #FFFBEA;
    height: 20rem;
    padding: 2rem;
}

.eventos h2 {
    font-family: "Paytone One", sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1.5rem;
}

.carrossel-eventos{
    display: flex;
}

.carrossel-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7BAEDC;
    padding: 40px;
    flex-wrap: wrap;
    font-family: "Nunito", sans-serif;
}

.carrossel-wrap{
    position: relative;
    width: 40rem;
    height: 26rem;
}

.carrossel-wrap #elemento1{
    position: absolute;
    left: 3rem;
    top: 2rem;
    width: 360px;
    height: 335px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.carrossel-track{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
    width: 28rem;
    position: relative;
    overflow: hidden; 
    background-color: transparent; 
}

#img1 {
    position: absolute;
    width: 235px;
    height: 235px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease-in-out;
    left: 1rem;
    top: 0rem;
    opacity: 0;
    z-index: 0;
    filter: blur(4px); /* começa com blur */
    transition: opacity 0.4s ease, filter 0.5s ease;
    transform: scale(0.90);
}
#img2 {
    position: absolute;
    width: 235px;
    height: 235px;
    object-fit: cover;
    display: block;
    bottom: 0rem;
    left: 13rem;
    box-shadow: rgba(255, 255, 255, 0.2);
    opacity: 0;
    z-index: 0;
    filter: blur(4px);
    transition: opacity 0.4s ease, filter 0.5s ease;
    transform: scale(0.90);
    

}

#img1.mostrar, #img2.mostrar{
    opacity: 1;
    z-index: 1;
    filter: blur(0px);
    transform: scale(1);
}

.prev{
    position: absolute;
    top: 38%;
    left: -1.7rem;
    background: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 0px 11px;
    color: #FFFBEA;
    transition: color 0.5s ease;
    box-shadow: #333333;
}
 .next{
    position: absolute;
    top: 38%;
    right: -20rem;
    background: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 0px 11px;
    color: #FFFBEA;
    transition: color 0.3s ease;
    box-shadow: #333333;
}

.next{
    right: 9.5rem;
}

.prev:hover, .next:hover {
    color: #ff7350;
    transition: color 0.3s ease;
}

.texto-doe {
    max-width: 35rem;
    color: #fff;
}

.texto-doe h2 {
    font-family: "Paytone One", sans-serif;
    color: #FFFBEA;
    font-size: 2.7rem;
    font-weight: 100;

}

.texto-doe p {
    font-family: "Nunito", sans-serif;
    margin-top: 3rem;
    color: #FFFBEA;
    font-size: 1.20rem;
    font-weight: 300;
}

.botao {
    display: inline-block;
    margin-top: 4rem;
    background-color: #F28C66;
    color: #fff;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none; 
    font-weight: bold;
    line-height: 1;
}

.botao:hover{
    transform: translateY(-5px);
    background-color: #ff7350;
    transition: transform 300ms;
}

.pataverde{
    position: absolute;
    left: 4rem;
    top: 44.4rem;
}

/* luan */


.faixaMain{
    background-color: #FFFBEA;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Paytone One", sans-serif;

    padding-block: 4rem;
    align-items: center;
    & h1{
        font-size: 30px;
        font-weight: 300;
        color: #333333;
    }
    & .bolasCtn{
        display: flex;
        gap: 2rem;
        & .bolas{
            border: 3px solid #f28c66;
            padding: 4.27rem 1.54rem;
            border-radius: 100%;
            /* padding-bottom: 100%; */
            color: #f28c66;
            display: flex
            ;
            flex-direction: column;
            width: 90px;
            align-items: center;
            POSITION: RELATIVE;
            & .textosBola{
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-family: "Nunito";
                top: 48px;
                text-align: center;
                & h3{
                    font-size: 30px;
                }
                & p {
                    font-weight: 600;
                }
            }
            & img{
                width: 25px;
                position: absolute;
                top: 12px;
            }
        }
    }
}
