* {
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  background-color: rgb(198, 225, 196);
  background-image: url("../images/Patinhas.png");
  background-size: 50%;
}
.container{
  max-width: 1500px;
  margin: auto;
  padding: 12px;
}
.corpo{
  background-color: rgb(255, 255, 255);
  width: 1500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}



/*--------------------------------------------------------------------------------*/
.top-texts{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.top-texts h1{
  font-size: 30px;
  font-weight:bold;
}

.top-texts p{
  font-size: 17px;
  font-weight: normal;
}



/*--------------------------------------------------------------------------------*/
.filter{
  margin-bottom: 5rem;
  display: flex;
  gap: 2rem;
}

.filter-button{
  background-color: #44803F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.filter-button:hover{
  background-color: green;
}

.form-filter-sexo #sexo-filter, #idade-filter, #porte-filter,#animal-filter{
  background-color: #C6E1C4;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.filter-option:hover{
  background-color: #7b9779;
  text-decoration: none;
}



/*--------------------------------------------------------------------------------*/
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center; 
  margin-bottom: 3rem;
}

.card-animal{
  border: 1px solid black;
  border-radius: 40px;
  width: 300px;
  height: 400px;
  /* transition: background-color 0.3s ease, transform 0.3s ease; */
  position: relative;
}

.front-card{
  display: block;
  transition: opacity 0.3s ease;
  width: 300px;
  height: 400px;
}

.front-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.titulo{
  position: absolute;
  top: 0;
  bottom: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.25);
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.back-card{
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header-card{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  font-weight: 400;
}

.button-card{
  background-color: #44803F;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button-card a{
  text-decoration: none;
  color: white;
}

.card-animal:hover{
  background-color: #C6E1C4;
}

.card-animal:hover .front-card {
  display: none;
  opacity: 0;
}

.card-animal:hover .back-card {
  display: block;
  opacity: 1;
  
}
