* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding: 12px;
}
.corpo{
    background-color: rgb(255, 255, 255);
    width: 1500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#section{
    display:inline;
}
#sectionfotoEpix{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
#sectionfotoEpix h2{
    font-size: 35px;
    text-align: left;
    padding: 0px 0px 10px 15px;
}

#sectionPix{
    display: inline;
}

#localEusuario{
    display: flex;
}
#nomeAnimal{
    font-size: 30px;
    font-weight: 600;
}
#userElocal{
    display: inline;
    gap: 0.5rem;
    padding: 0px 0px 10px 10px;
}
#divLocalUsuario{
    display: flex;
    gap: 0.5rem;
}
.textoLocalUsuario{
    font-size: 13px;
}

#pix{
    display: inline;
    text-align: center;
}
#banco{
    display: flex;
    background-color: #E2F8E0;
    width: 390px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
#numeroBanco{
    display: flex;
}
#infosConta{
    display: inline;
}

#barraArrecadacao{
    display: flex;
}

#descricaoArrecadacao{
    font-size: 20px;
    width: 1000px;
    text-align: justify;
    padding: 15px 0px 10px 0px;
}

/* iamgens */
.iconeInfo{
    width: 15px;
    height: 15px;
}
#qrcode{
    width: 160px;
    height: 160px;
}
#imagemBanco{
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
#fotoArrecadacao{
    width: 550px;
    height: auto;
}