*{
    list-style: none;
    text-decoration: none;
    font-style: normal;
}
.corpo-desktop{
    display: flex;
    flex-direction: row;
    position: relative;
}

.principal {
    /* width: 65%; */
    /* margin-right: 20px; */
    /* position: absolute; */
    /* right: 390px; */
}

.grandin {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar {
    width: 30%;
    /* position: absolute;
    right: 390px; */
}
 
.ladin {
    text-align: center;
    display: flex;
    width: 500px;
    height: 300px;
}
 
h2 {
    /* margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #333;
    border-bottom: 3.3px solid rgb(85,149,79);
    padding-bottom: 8px;
    width: 62%; */
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #333;
}

.corpo-mobile{
    display: none;
}

#tatu{
    /* margin-bottom: 50px; */
    /* margin-top: 8.5rem; */
    & h2{
        font-size: 1.2rem;
        font-family: "Inter", sans-serif;
        color: #333;
        width: auto;
    }& .link-not:hover h2{
        text-decoration: underline rgb(85,149,79);
        color: rgb(85,149,79);
    }& p{
        font-size: 14px;
        /* font-family: "Inter", sans-serif; */
        color: rgb(97 103 113);
        width: auto;
        margin-block-start: 0.83em;
        margin-left: 0.83em;
        text-align: -webkit-auto;
    }
    & .link-not{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: flex-start;
    }
    & .titulo{
        width: 360px;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }& .titulo::after{
        content: "";
        display: block;
        width: 94%; /* Defina a largura desejada */
        border-bottom: 2px solid rgb(85, 149, 79);
        position: absolute;
        right: 9px;
        bottom: 0;
    }
}

#maus_tratos {
    margin-top: 10px;
    display: flex;
    & h2{
        font-size: 1.2rem;
        font-family: "Inter", sans-serif;
        color: #333;
        width: auto;
    }& .link-not:hover h2{
        text-decoration: underline rgb(85,149,79);
        color: rgb(85,149,79);
    }& p{
        font-size: 14px;
        /* font-family: "Inter", sans-serif; */
        color: #333;
        width: auto;
        margin-block-start: 0.83em;
        margin-left: 0.83em;
        text-align: -webkit-auto;
        color: rgb(97 103 113);
    }
    & .link-not{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: flex-start;
    }
    & .titulo{
        width: 360px;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

    }& .titulo::after{
        content: "";
        display: block;
        width: 94%; /* Defina a largura desejada */
        border-bottom: 2px solid rgb(85, 149, 79);
        position: absolute;
        right: 9px;
        bottom: 0;
    }

}

#pit {
    display: flex;
    & h2{
        font-size: 1.2rem;
        font-family: "Inter", sans-serif;
        color: #333;
        width: auto;
    }& .link-not:hover h2{
        text-decoration: underline rgb(85,149,79);
        color: rgb(85,149,79);
    }
    & p{
        font-size: 14px;
        /* font-family: "Inter", sans-serif; */
        color: #333;
        width: auto;
        margin-block-start: 0.83em;
        margin-left: 0.83em;
        text-align: -webkit-auto;
        color: rgb(97 103 113);
    }
    & .link-not{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: flex-start;
    }
    & .titulo{
        width: 360px;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    & .titulo::after{
        content: "";
        display: block;
        width: 94%; /* Defina a largura desejada */
        border-bottom: 2px solid rgb(85, 149, 79);
        position: absolute;
        right: 9px;
        bottom: 0;
    }
}
.img-ladin{
    width: 200px;
    height: 180px;
}
.img-first{
    width: 400px;
    height: 300px;
}
.link-not{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #333;
    border-bottom: 3.3px solid rgb(85, 149, 79);
    padding-bottom: 8px;
    /* width: 62%; */
}
.link-not:hover{
    & h2{
        text-decoration: underline rgb(85,149,79);
        color: rgb(85,149,79);
    }
}


@media (max-width: 768px) {
    .corpo{
        width: auto;
        flex-direction: column;
    }
    img {
        width: 480px;
    }
    h2{
        margin-top: 10px;
        font-size: 1.5rem;
        font-family: "Inter", sans-serif;
        color: #333;
        border-bottom: 3.3px solid rgb(85, 149, 79);
        padding-bottom: 8px;
        width: 62%;
        margin-left: auto;
        margin-right: auto;
    }
    #pit{
        margin-bottom: 20px;
        text-align: center;
    }
    .principal {
        width: 65%;
        margin-right: 0;
    }
    .sidebar {
        width: 65%;
    }
    #tatu {
        margin-bottom: 20px;
    }
    #maus_tratos {
        margin-bottom: 20px;
    }
}



@media (max-width: 425px) {
    /* criei um display none para a section desktop sumir caso é convertido para a resolução do mobile. */ 
    body{
        background-size: 100%;
    } 
    
    .corpo{
        display: none;

    }
    /* aqui o display flex "ativa" a section do mobile. */
    .corpo-mobile{
        width: 80%;
        height: auto;
        margin: 0 auto;
        flex-direction: column;
        display: flex;
        background-color: rgb(255, 255, 255);
    }
    /* a partir daqui a margin é o ponto chave para o espaçamento requisitado */
    .grandin, .ladin{
        width: 80%;
        margin: auto;
    }

    .ladin{
        margin: 0 auto;
    }

    .grandin img{
        width: 85%;
        height: auto;
        margin-top: 50px;
    }

    .ladin img{
        width: 85%;
        padding-bottom: 20px;
    }

    #pit, #maus_tratos, #tatu {
        margin-top: 50px;
        transition: margin-top 0.3s ease;
    }
}


/* @media (max-width: 1440px) {
    #tatu{
        margin-bottom: 50px;

    }
    
} */