* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
}

.container{
    max-width: 1500px;
    margin: auto;
    padding: 12px;
}

.corpo {
    background-color: rgb(255, 255, 255);
    width: 1150px;
    display: flex;
    text-align: center;
    align-items: stretch; 
}

.principal {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-right: 20px;
}
 
.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.ladin, .grandin {
    margin-bottom: 20px;
    text-align: center;
}

.ladin {
    margin-bottom: 20px;
    text-align: center;
}
 
h2 {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #333;
    border-bottom: 3.3px solid rgb(85,149,79);
    padding-bottom: 10px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

#maus_tratos {
    margin-top: auto;
}
