* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    font-family: Arial, sans
}
.container{
    max-width: 1500px;
    margin: auto;
    padding: 12px;
    background-color: #fff;
}
.corpo{
  color: #fff;
  background-color: rgb(68, 128, 63);
  width: 1500px;
  display: flex;
  text-align: center; 
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 12px;


}
/* 
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
} */

.pontoArrecadacao {
  width: 1024px;
  margin-top: 20px;
  padding: 0 20px;
  height: 389px;
}
.imgPontoArrecadacao {
  width: 400px; 
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 10px;
}
p {
  text-align: center;
  margin-bottom: 20px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.hero img {
  width: 400px;
  height: auto;
}
descricaoPonto {
  text-align: left;
  
}
.valores-e-pix {
  padding: 40px 0;
  display: flex;
  text-align: center;   
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 12px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  float: left; 
  max-width: 100px; 
  margin-right: 15px; 

}
.card img {
  width: 60px;
  height: 60px;
}
.pix {
  padding: 40px 0;
}
.qrcode {
  background-color: rgb(68, 128, 63);
  width: 329px;
  margin: auto;
  height: 310px;
  border-radius: 8% 3%;
  text-align: center;
}
.qrcode img {
  width: 247px;
  height: 232px;
  margin-top: 30px;
}
.infoDestaque {
  text-align: center;
  
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}