* {
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  background-color: rgb(198, 225, 196);
  background-image: url("../images/Patinhas.png");
  background-size: 50%;
}
.container{
  max-width: 1500px;
  margin: auto;
  padding: 12px;
}
.corpo{
  background-color: rgb(255, 255, 255);
  width: 1500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#pixEValores{
  display: flex;
  flex-direction: row;
}

.pontoArrecadacao{
  display: flex;
  background-color: rgb(68, 128, 63);
  color: #fff;
  column-gap: 6rem;
  width: 1500px;
}

.imagemEndereco{
  margin-left: 6rem;
}

.pontoArrecadacaoText{
  margin-right: 6rem;
}



























/* 
  
  h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pontoArrecadacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  /* incluir a imagem do cavalo*/
  .pontoArrecadacao img {
    width: 400px; 
    height: auto;
  }


  .valoresEPix{
    padding: 40px 0;

    background-color: #fff;
  }

  .pontoArrecadacaoText {
    text-align: left;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    float: left; 
    max-width: 100px; 
    margin-right: 15px; 

  }
  
  .card img {
    width: 60px;
    height: 60px;
  }
  
  .pix {
    padding: 40px 0;
  }
  
  .qrcode {
    background-color: rgb(68, 128, 63);
    width: 329px;
    margin: auto;
    height: 310px;
    border-radius: 8% 3%;
    text-align: center;
  }
  
  .qrcode img {
    width: 247px;
    height: 232px;
    margin-top: 30px;
  }
  
  .info {
    text-align: center;
  }