.secao-emailenviado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 431px);
}
.bloco {

    background-color: white;
    padding: 65px 55px 65px 55px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

.bloco h2 {
    margin-bottom: 25px;
}
.bloco p {
    font-size: 20px;
    width: 350px;
    margin-bottom: 25px;
}
.bloco img{
    width: 260px;
}

@media (max-width: 768px) {

    .section{
        max-width: 768px;

    }
    .corpo-container{

        max-width: 768px;
    }

    
    .bloco{
        padding: 45px 115px ;
    }
    .bloco img{
        max-width: 130px;
    }
    .bloco p {
        width:175px;
    }
   
}

@media (max-width: 425px){

    .bloco{
        padding:45px 65px;
    }
}