* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}
body{
  background-color: rgb(198, 225, 196);
  background-image: url("../images/Patinhas.png");
  background-size: 50%;
}
.container{
  max-width: 1500px;
  margin: auto;
  padding: 12px;
}
.corpo{
  background-color: rgb(255, 255, 255);
  width: 1500px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.conteudo{
display: flex;
flex-direction: column;
}

#eventosCarrosel {
  width: 80rem; 
}

.titulo {
  font-size: 35px;
  text-align: left;
  width: 100%; 
  margin-top: 20px;
  margin-bottom: 20px; 
}

.carrossel-container{
  margin-top: 10rem;
}

.slideshow-container{
width: 528px;
height: 360px;
display: flex;
gap: 160px;
flex-direction: column;
flex-wrap: wrap;
padding: 0 0 0 5px;
margin-top: 3rem;
margin-bottom: 5rem;
}

.slide{
display: none;
}

.slider{
width: 528px;
height: 360px;
}

.EventoSlides{
  width: 570px;
  height: 420px;
  border-radius: 1rem;
}

.btn-slide{
text-align: center;
display: flex;
justify-content: center;
gap: 1rem;
bottom: 26rem;
width: 528px; 
position: absolute;
}

.botao{
cursor: pointer;
padding: 0;
margin: 0 2px;
height: 15px;
width: 15px;
border-radius: 50%;
display: inline-block;
background-color: transparent;
border: 2px solid #ffffff;
box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
background: rgba(0, 0, 0, 0.5);
}

.active, .botao:hover{
background-color: #ffffff;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.localEvento {
display: flex;
flex-direction: row;
gap: 3px;
font-size: 14px;
}

.localEvento img{
width: 15px;
height: 17.07px;
}

.event-details {
text-align: left;
height: 360px;
width: 357px;
}

.event-details h1 {
margin-bottom: 10px;
color: #333;
font-size: 35px;
width: 585px;
}

.event-details p {
  color: #000000;
  margin-top: 35px;
  margin-bottom: 50px;
  font-size: 20px;
  width: 553px;
  text-align: justify;
}

.event-details button {
  padding: 10px 49px;
  background-color: #44803F;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin: 0 11rem;
}

