* {
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  background-color: rgb(198, 225, 196);
  background-image: url("../images/Patinhas.png");
  background-size: 50%;
  font-family: 'Inter', sans-serif;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
}
.corpo{
  background-color: #ffffff;
  /* width: 1500px; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.conteudo{
display: flex;
flex-direction: column;
}

.slideshow-container{
width: 528px;
height: 360px;
display: flex;
gap: 50px;
flex-direction: column;
flex-wrap: wrap;
padding: 0 0 0 5px;
}

.slide{
display: none;
}

.slider{
width: 528px;
height: 360px;
}

.EventoSlides{
width: 528px;
height: 360px;
}

.btn-slide{
text-align: center;
display: flex;
justify-content: center;
gap: 1rem;
bottom: 13cm;
width: 528px; 
position: absolute;

}

.botao{
cursor: pointer;
padding: 0;
margin: 0 2px;
height: 11px;
width: 11px;
border-radius: 50%;
display: inline-block;
background-color: transparent;
border: 2px solid #ffffff
}

.active, .botao:hover{
background-color: #ffffff;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.localEvento {
display: flex;
flex-direction: row;
gap: 3px;
font-size: 14px;
}

.localEvento img{
width: 15px;
height: 17.07px;
}















.event-details {
text-align: left;
height: 360px;
width: 357px;
}

.event-details h1 {
margin-bottom: 10px;
color: #333;
font-size: 25px;
width: 528px;
}

.event-details p {
  color: #000000;
  margin-top: 35px;
  margin-bottom: 50px;
  font-size: 15px;
  width: 357px;
  text-align: justify;
}

.event-details button {
  padding: 10px 49px;
  background-color: #44803F;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;

}

.carousel-container {
  margin-top: 25px;
  text-align: left;
}

h2{
  margin-top: 40px;
  margin-bottom: 15px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 35px;
  width: 1000px;
}

.carousel-track {
  transition: transform 0.3s ease-in-out;
  gap: 35px;
  /* justify-content: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}


.card {
  position: relative;
  flex: 0 0 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px #0000001a;
}

.card img {
  width: 360px;
  height: 330px;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 13px;
  background: #44803F;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.card-info h3 {
  margin: 0 0 5px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #0000009a;
}

.card-info p {
  margin: 0;
  font-size: 15px;
  text-shadow: 0px 4px 4px #0000005d;
}

.local {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-shadow: 2px 2px 4px #000000b9;
  align-items: center;
}

.local img {
  width: 20px;
  height: 20px; 
  margin-right: 5px; 
  vertical-align: middle;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 2;
}

#carousel-prev {
  left: 5px;
  position: absolute;
}

#carousel-next {
  right: 1px;
  position: absolute;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}