#contentEditarPerfil{
    display: flex;
    gap: 3rem;
}

#divForm{
    display: flex;
}
#formEditarPerfilMembro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.inputPerfil{
    width: 480px;
    height: 55px;
    border: 1.5px solid #9B9B9B;
    border-radius: 5px;
}

#divButtons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#editarFoto{
    display: flex;
    flex-direction: column; 
    position:relative;
    text-align:center;
}
#fotoMembro{
    width: 190px;
}
#buttonEditarFoto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #44803F;
    color: #fff;
    border-radius: 50px;
    font-size: 25px;

    position:absolute;
    z-index:1;
    top: 75%;
    left: 15%;
    padding:0;
    margin:-15px 0 0 -30px;

    &:hover{
        background-color: #83CE7D;
        cursor: pointer;
    }
}

.buttonsPerfil{
    background-color: #83CE7D;
    color: #fff;
    width: 250px;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;

    &:hover{
        background-color: #44803F;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    #corpocontainer {
        height: 750px;
    }

    #contentEditarPerfil{
        flex-direction: column;
    }
}

@media (max-width: 425px){
    #corpocontainer {
        height:  750px;
    }

    #contentEditarPerfil{
        flex-direction: column;
    }

    .inputPerfil{
        width: 300px;
    }
}