.frmEditarPerfil{
    width: 100%;
}

.conteudoFrm{
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 3rem;
    padding: 70px;
}

.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input{
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#imgUpload{
    display: flex;
    position: relative;
    bottom: 3rem;
    left: 1rem;
}

#previewImg{
    width: 265px;
    height: 257px;
    border: 1px solid #ccc;
    border-radius: 10rem;
}

@media (max-width: 425px) {
    .conteudoFrm{
        padding: 30px;
    }
}