* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo {
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    background-color: #44803F;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #41773c;
}

label {
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: 10px;
}

.checkbox input[type="checkbox"] {
    width: 18px; 
    height: 18px;
    cursor: pointer;
    margin: 0; 
    vertical-align: middle; 
}

.checkbox label {
    font-size: 16px;
    line-height: 18px;
}

input[type="date"] {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    outline: none;
    appearance: none;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('https://cdn-icons-png.flaticon.com/512/747/747310.png'); 
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    color: #aaa;
    position: absolute;
    left: 10px;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}