* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding: 12px;
}
.corpo{
    background-color: rgb(255, 255, 255);
    width: 1500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: row;
}

.sliderFotos{
    margin-right: 68px;
}

.imgPrincipal img{
    height: 375px;
    width: 393px;
    margin-bottom: 23px;
}

.containerMiniaturas{
    display: flex;
    flex-direction: row;
}
.containerMiniaturas img{
    height: 75px;
    width: 75px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}