* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    width: 100%;
    height: 100%;
}



/* Seção do Login */
.secao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}

/* Cria o fundo branco na área de login */
.login {  
   
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 25px;
}

.login h2 {
    margin-bottom: 25px;
}

/* estrutura das   */
.login input {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;

}

.login .esc_senha {
    display: block;
    margin-bottom: 20px;
    color: #386934;
    text-decoration: none;
    font-size: 14px;
}

.login .esc_senha:hover {
    text-decoration: underline;
}

.login button {
    font-family:  Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    background-color: rgb( 68, 128, 63);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.login a {
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.login button:hover {
    transition: .4s;
    background-color: #386934;
}

.login p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #9B9B9B;
}

.login p a {
    color: #386934;
    text-decoration: none;
    font-size: 15px;
}
.login p a:hover {
    text-decoration: underline;

}
/* Botões das redes sociais */
.rede-social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    height: 30px;
    justify-content: center;
}

/* Botão acesso ADM */
#acesso-adm {
    display: block;
    margin-top: 20px;
    color:#44803f;
    text-decoration: none;
    margin-right: 285px;
    font-size: 12px;
}

.acesso-adm:hover {
    text-decoration: underline;
}

.login-adm img{
    height: 30px;
}
.login-adm span{
    color: #9B9B9B;
}

#divSpan{
    display: flex;
    justify-content: center;

}
hr{
    border-color: 1px solid #386934;
    width: 50px;
}

@media (max-width: 768px){
    .login{
        height: auto;    
        border-radius: 0;
        margin: 0;
    }
}

@media (max-width: 425px){

}