* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
    margin: 100px 0px;
}

.login {
    background-color: white;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.login h2 {
    margin-bottom: 25px;
}

.login input {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.buttonLogin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 93%;
    height: 47px;
    margin-top: 47px;
    margin-bottom: 21px;
    padding: 10px;
    background-color: rgb(68, 128, 63);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none; /* Remover sublinhado se for um link */
}

.buttonLogin:hover {
    transition: .4s;
    background-color: rgb(56, 105, 52);
}



@media (max-width: 768px){
    body{
        background-size: 100%;
    }
    .secao-login{
        margin: 80px 0px;
    }
}

@media (max-width: 425px){
    body{
        background-size: 150%;
    }

    .secao-login{
        margin: 53px 53px 90px 53px;
    }
    .login{
        padding: 40px 25px 65px 25px;
    }
    .buttonLogin{
        margin-top: 35px;
        margin-bottom: 20px;
    }
}
