* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #44803f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* --- Header --- */

/* .pagina-inicio .navbar{
    background-color: #44803f;
    color: white;
} */


/* #header{
    background-color: #44803f;
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header img{
    height: 100px;
    width: auto;
    padding-right: 100px;
    margin-right: 100px;
}

nav{
    background-color: #44803f;
    position: sticky;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;
}
nav ul{
    padding-left: 50px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
}
.nav-links a:hover, .nav-links a:active{
    border-bottom: 1px solid #ffffff;
} */

nav {
    background-color: #44803f;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-logo img {
    width: 249px;
    height: 137px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a:active {
    border-bottom: solid #C6E1C4;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    z-index: 999;
}

.mobile-menu a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.mobile-menu a:hover {
    background-color: #C6E1C4;
}

.mobile-menu.show {
    display: flex;
}











/* --- Slider --- */
#secslider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#divslider {
    position: relative;
}

#slider {
    display: flex;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
    list-style: none;
}

#slider li {
    min-width: 100%;
}

#slider img {
    height: 675px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.ctdcard {
    gap: 10px;
    color: white;
    position: relative;
    transform: translate(0%, -200%);
    display: grid;

    & input  {
        background-color: #44803f;
        color: white;
        padding: 10px;
        border-radius: 6px;
        font-size: 24px;
    }
}

.textcard {
    color: white;
    font-weight: 600;
}

/* Baner ira sumir no desktop */
#bannerMobas {
    display: none;
}

button {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #44803f;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Para garantir que os botões fiquem acima das imagens */
}
.buttonslider{
    font-weight: 550;
    color: #ffffff;
}
#esquerda {
    left: 20px;
}
#direita {
    right: 20px;
}

/* --- Cards --- */
#seccards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    flex: 1; /* Faz cada card ocupar o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 769px) {
    #sliderDoacao {
        display: none;
    }
}

@media (max-width: 768px) {

    .navbar-logo img {
        width: 190px;
        height: 102px;
    }

    .hamburger div {
        width: 30px;
        height: 4px;
        background-color: white;
        transition: 0.3s;
    }

    /* .navbar{
        display: none;
    } */

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    
    #secslider {
        display: none;
    } /*RETIRAR CARROSSEL*/

    #bannerMobas {
        display: block;
        width: 100%;
    } /*MOSTRAR O BANNER*/

    #seccards {
        display: none;
    }
    #sliderDoacao{
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        & .cardDoacao {
            width: auto;

            & .divImg {
                width: 100vw;
                height: 100%;
            }
        }
    }

    .ctdcard {
        display: flow;
        font-size: 1.6rem;

        & input {
            font-size: 1.5rem;
        }
    }

    .imgBanner{
        
        max-width: 768px;
    
        & img{
            object-fit: cover;
            width: 100%;
        }
    }

}

@media (max-width: 425px) {
    
    #sliderDoacao {
        margin: 20px auto;
    }

}