@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
}


.container {

    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}


.corpo {
    background-color: #fff;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


button {
    padding: 20px 100px;
    border-radius: 30px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

button:focus {
    outline: none;
}


.adm_foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.adm_foto img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.adm_foto h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.adm_foto p {
    font-size: 16px;
    color: #666;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 100%;
    max-width: 800px; 
    margin-top: 20px;
}

.buttons button {
    padding: 20px 40px; 
    font-size: 18px; 
    font-weight: 700;
    background-color: #4caf50;
    color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease;
    height: 70px;
}

.buttons button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.buttons button:focus {
    outline: none;
}


@media (max-width: 768px) {
    body{
        background-size: 80%;
    }

    .container {
        padding: 10px;
    }

    .buttons {
        grid-template-columns: 1fr 1fr; 
        gap: 30px;
        width: 77%;
        margin-bottom: 30px;
    }

    .buttons button {
        font-size: 17px; 
        }

    .adm_foto img {
        width:100x;
        height: 100px;
    }

    .adm_foto h1 {
        font-size: 20px;
    }

    .adm_foto p {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 16px 35px;
    }
}

@media (max-width: 425px) {
    body{
        background-size: 130%;
    }

    .corpo{
        width: 87%;
    }

    .container {
        padding: 15px;
    }

    .buttons {
        gap: 20px;
        width: 90%;
    }

    button {
        font-size: 15px; 
        padding: 10px 25px;
        }
    
    .buttons button {
        font-size: 14px; 
        padding: 17px 2px;
        height: auto;
        }
    
}