* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
}

.container {
    max-width: 1500px;
    margin: auto;
    background-color: white;
}

.corpo {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carroseis{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo {
    font-size: 35px;
    text-align: center;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo::before,
.titulo::after {
    content: "";
    flex: 1;
    height: 2px; /* Espessura da linha */
    background-color: rgb(68, 128, 63); /* Cor da linha */
    margin: 0 15px; /* Espaçamento entre a linha e o texto */
}

.carouselParceiros, .carouselEquipe{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin-bottom: 40px; 
}

.imagemEquipe {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
}

.imagemEquipe img{
    width: 100%;
}

#carouselEquipe, #carouselParceiros{
    width: 80rem;
}

@media (max-width: 1024px) {
    .titulo {
        font-size: 30px; 
    }

    #carouselEquipe, #carouselParceiros{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 24px; 
    }

    #carouselEquipe, #carouselParceiros{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 20px; 
    }

    #carouselEquipe, #carouselParceiros{
        width: 100%;
    }
}